.main{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100vh;
    padding: 0;
    align-items: flex-start;
    justify-content: center;
    max-width: 1000px;
    margin: 0px auto;

    @media only screen and (max-width: 414px) 
    {
      padding-left: 25px;
      padding-right: 25px;
    }

    h1{
        margin: 0 0 20px;
        font-family: var(--font-sans);
        font-size: clamp(var(--fs-md), 5vw, var(--fs-xl));
        font-weight: 400;
        color: var(--green);
    }

    h2{
        margin: 0;
        font-size: clamp(40px, 9vw, 90px);
        color: var(--light-slate);
        font-family: var(--font-sans);
        font-weight: 400;
    }

    h3{
        margin-top: 5px;
        color: var(--dark-slate);
        line-height: 0.9;
        font-family: var(--font-sans);
        font-size: clamp(var(--fs-lg), 5vw, var(--fs-heading));
        white-space: nowrap;
    }

    p{
        margin-top: 20px;
        margin-bottom: clamp(30px, 40px, 50px);
        max-width: 540px;
        font-family: var(--font-sans);
        font-size: clamp(var(--fs-md), 3vw, var(--fs-xl));
    }

    .email-link{
        margin-top: 40px;
        color: var(--green);
        background-color: transparent;
        border: 1px solid var(--green);
        border-radius: var(--border-radius);
        padding: 1.25rem 1.75rem;
        font-size: clamp(var(--fs-xs), var(--fs-md), var(--fs-lg));
        font-family: var(--font-mono);
        line-height: 1;
        text-decoration: none;
        cursor: pointer;

        &:hover,
        &:focus,
        &:active {
        background-color: var(--green-tint);
        outline: none;
        }
        &:after {
        display: none !important;
        }
    }
}

// If height is less than 560px or small device in landscape mode --> shrink spacing
@media only screen and (max-height: 560px) and (min-width: 667px) and (orientation: landscape)
{
    .main{
        padding-top: var(--nav-height);
        padding-left: 20px;
        padding-right: 20px;

        h1{
            font-size: var(--fs-lg);
            margin: 0 0 5px;
        }
        h2{
            font-size: var(--fs-heading);
        }
        h3{
            font-size: var(--fs-xxl);
        }
        p {
            font-size: var(--fs-lg);
            margin: 10px 0 0;

        }
        .email-link {
            margin-top: 10px;
            padding: 0.8rem 1.5rem;
        }
    }
}



